.men-bkg{
    background-image: url(../img/greenBkg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: -3;
}

.occasion{
    @media screen and (max-width: 767px){
        display: flex;
        justify-content: center;
    }

    .men{
        white-space: nowrap;
        position: absolute;
        margin: 30% 0 0% 0%;
        text-shadow: 1px 1px 2px #000;
        text-align: left;
        line-height: 1.1em;
        color: #fff;
        font-size: 40px;
        z-index: 2;
        text-transform: uppercase;
        font-family: futura;
        font-weight: bold;
        letter-spacing: 0.1em;
        @media screen and (min-width: 550px){
            font-size: 45px;
            margin: 36% 0 0% 0%;
        }
        @media screen and (min-width: 768px){
            font-size: 50px;
            margin: 20% 0 0 8.3%;
        }
    
        @media screen and (min-width: 1024px){
            font-size: 64px;
        }
    
        @media screen and (min-width: 1224px){
            font-size: 74px;
            margin-top: 16%;
        }
    }

    img{
        @media screen and (max-width: 767px){
            display: none;
        }
        @media screen and (min-width: 768px){
            display: block;
        }
        position: absolute;
        margin-top: 38%;
        left: 9%;
        width: 55%;

        @media screen and (min-width: 1024px){
            width: 59%;
        }

        @media screen and (min-width: 1224px){
            margin-top: 32%;
        }

        @media screen and (min-width: 1440px){
            width: 50%;
            margin-top: 29%;
        }
    }

}

.categories{
    @media screen and (max-width: 767px){
        justify-content: center;
        display: flex;
        align-content: center;
        margin-top: 48%;
        text-align: center;
    }
    display: flex;
    position: absolute;

    @media screen and (min-width: 768px){
        margin-top: 28%;
        left: 9%;
    }
    @media screen and (min-width: 1224px){
        margin-top: 23.5%;
    }
    @media screen and (min-width: 1440px){
        margin-top: 22%;
    }

    ul{
        padding: 0 23px 0 0;

        @media screen and (min-width: 768px){
            padding: 0 34px 0 0;
        }
        @media screen and (min-width: 1024px){
            padding: 0 70px 0 0;
        }
        @media screen and (min-width: 1224px){
           padding-right: 93px;
        }


        li{
            font-family: futura;
            line-height: 1.9em;
            @media screen and (min-width: 515px){
                font-size: 1.2em;
                line-height: 2em;
            }
            @media screen and (min-width: 768px){
                font-size: 1em;
            }
            @media screen and (min-width: 1024px){
                font-size: 1.1em;
                line-height: 2.2em;
            }
            @media screen and (min-width: 1224px){
                font-size: 1.2em;
                line-height: 2em;
            }
            @media screen and (min-width: 1440px){
                line-height: 2em;
            }

            a{
                color: #fff;
                text-decoration: none;
                letter-spacing: 0.09em;
                &:hover{
                    color: #000;
                }
            }
        }
    }
}


.shop-gallery{
    padding: 70% 0 20% 0;
    display: flex;
    flex-wrap: wrap;
    margin: auto 8.75%;
    justify-content: center;
    @media screen and (min-width: 550px){
        padding: 61% 0 20% 0;
    }
    
    @media screen and (min-width: 768px){
        padding: 40% 0 20% 0;
        justify-content: flex-start;
        margin: auto 4%;
    }

    @media screen and (min-width: 1224px){
        padding: 35% 0 10% 0;
        margin: auto 6.3%;
    }

    @media screen and (min-width: 1440px){
        padding: 32% 0 10% 0;
        justify-content: center;
        margin: auto 12.3%;
    }

    div{
        cursor: pointer;
        position: relative;
        height: 0;
        margin: 8%;
        width: 80%;
        padding-bottom: 123%;

        @media screen and (min-width: 410px){
            width: 34%;
            padding-bottom: 53%;
        }

        @media screen and (min-width: 768px){
            margin: 6%;
            width: 20%;
            padding-bottom: 31%;
        }

        
        a{
            cursor: pointer;
            transition: 0.2s ease;

            &:hover{
                background-color: black;
            }
        }
        
        h2{
            position: absolute;
            font-family: futura;
            text-align: center;
            width: 100%;
            color: #000;
            font-size: 1.2em;
            letter-spacing: 0.3em;
            bottom: 2%;
        }

        img{
            background-color: #fff;
            padding: 11px 11px 30px 11px;
            box-shadow: 0px 0px 10px rgba(0,0,0,.3);
            width: 100%;
        }
    }  
  
}


.social-men{
    position: relative;
    height: 300px;

    @media screen and (min-width: 768px){
       height: 10px;
    }
    @media screen and (min-width: 1224px){
        height: 130px;
     }

    img{
        position: absolute;
        z-index: 4;
        width: 20%;

        @media screen and (min-width: 768px){
            width: 10%;
        }
        @media screen and (min-width: 1024px){
            width: 8%;
        }
        @media screen and (min-width: 1440px){
            width: 6%;
        }

        &:first-child, &:last-child{
            &:hover{
                transform: rotate(45deg);
                transition: .4s ease;
            }
        }

        &:nth-child(2){
            &:hover{
                transform: rotate(-45deg);
                transition: .4s ease;
            }
        }

        //yellow
        &:first-child{
            bottom: 70%;
            left: 16%;

            @media screen and (min-width: 768px){
                bottom: -13px;
                left: 60%;
            }
            @media screen and (min-width: 1024px){
                bottom: -26px;
                left: 63%;
            }
            @media screen and (min-width: 1440px){
                left: 68%;
            }
        }

        //green
        &:nth-child(2){
            bottom: 58%;
            right: 10%;

            @media screen and (min-width: 768px){
                bottom: -13px;
                right: 17%;
            }
            @media screen and (min-width: 1024px){
                bottom: -26px;
            }
            @media screen and (min-width: 1440px){
                right: 16%;
            }
        }

        //pink  
        &:last-child{
            right: 43%;
            bottom: 20%;

            @media screen and (min-width: 768px){
                bottom: -13px;
                right: 5%;
            }
            @media screen and (min-width: 1024px){
                right: 6%;
                bottom: -26px;
            }
        }
    }
}