.women-bkg{
    background-image: url(../img/yellowBkg.png);
    background-repeat: no-repeat;
    background-size: cover;
    // height: 420vh; 
    width: 100vw;
    z-index: -3;
}


.occasion{
    h1{
        @media screen and (max-width: 767px){
            left: -8%;
            letter-spacing: 0.06em;
        }
       
    }
}