.women-bkg{
    background-image: url(../img/greenBkg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 92.45797365%; //green background height / whole height
    // height: calc(100vw * (9/16));
    width: 100vw;
    z-index: -3;
}

.occasion{
    position: relative;

    h1{
        position: absolute;
        margin-top: 30%;
        text-shadow: 1px 1px 2px #000;
        text-align: left;
        color: #fff;
        font-size: 45px;
        z-index: 2;
        text-transform: uppercase;
        font-family: futura;
        font-weight: bold;
        margin-left: 5%;
    
        @media screen and (min-width: 768px){
            font-size: 50px;
            margin-top: 20%;
        }
    
        @media screen and (min-width: 1024px){
            font-size: 64px;
        }
    
        @media screen and (min-width: 1224px){
            font-size: 74px;
        }
    }
}

.shop-gallery{
    padding-top: 60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    .row{
        flex-direction: row;

        img{
            background-color: #fff;
            padding: 11px 11px 30px 11px;
        }
    }
}