
@import 'reset';
@import "men";
@import "women";



 

* {
	box-sizing: border-box;
}


header{
	position: relative;
	z-index: 10;
	height: 20vw;
	width: 99%;
	margin-bottom: 22%;

	@media screen and (min-width: 768px){
		height: 16vw;
		margin-bottom: -5%;
	}


	nav{
		position: absolute;
		width: 100%;
		left: 0;
		top: 40vw;
		@media screen and (min-width: 768px){
			top: 14vw;
		}

		.nav_list{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			transform: rotate(7deg);

			@media screen and (min-width: 768px){
				margin-left: 5%;
				justify-content: flex-start;
			}
			

			li{
				font-family: futura;
				padding: 0 10px;

				@media screen and (min-width: 768px){
					padding: 0 23px;
				}

				@media screen and (min-width: 1024px){
					padding: 0 30px;
					font-size: 1.1em;
				}

				@media screen and (min-width: 1224px){
					padding: 0 33px;
					font-size: 1.3em;
				}

				@media screen and (min-width: 1440px){
					padding: 0 39px;

				}

				a{
					// cursor: pointer;
					z-index: 4;
					text-decoration: none;
					color: #000;
					cursor: pointer;

					&:hover{
						color: #f69679;
					}

					&.activem{
						background-image: url('../img/greenactive.gif');
						background-position: bottom;
						background-size: 100% auto;
						background-repeat: no-repeat;
						animation-play-state: running;
						padding: 4px;
					}
					&.activew{
						background-image: url('../img/yellowactive.gif');
						background-position: bottom;
						background-repeat: no-repeat;
						background-size: 100% auto;
						animation-play-state: running;
						padding: 6px;
					}
				}
				
			}
		}

	}

	//logo
	div{
		margin-right: 8%;
		text-align: right;
		@media screen and (max-width: 767px){
			margin-top: 3%;
		}
		a{

			img{
				width: 30%;
	
				@media screen and (min-width: 768px){
					width: 17%;
					padding-top: 2%;
				}
			}
		}
		
	}
}


//mobile: 437 width of mockup screen / 580 height of top yellow bottom model

// desktop: 1180 width '' / 653 height ''


.models{
	position: relative;

	//mobile 
	@media screen and (max-width: 767px){
		width: 100%;
		height: 100vw;
		margin: 0;
		background-size: 178% auto;
	}

	width: 100%;
	height: 56vw;   
	background-image: url(../img/heroBkg.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 0 100%;
	text-align: center;
	@media screen and (min-width: 1513px){
		height: 55vw;
	}

	//models
	img{
		position: relative;
		height: 100%;
		top: 8vw;
		padding: 0 3%;

		// hide 2 models on mobile
		&:nth-child(1), &:nth-child(4){
			display: none;
		}

		//show first girl
		&:nth-child(1){
			@media screen and (min-width: 768px){
				display: inline-block;
			}
		}
		

		// hide last model til 1512
		&:nth-child(4){
			@media screen and (min-width: 1513px){
				display: inline-block;
			}
		}
	}

	//spring must haves
	h1{
		position: absolute;
		top: 60%;
		text-shadow: 1px 1px 2px #000;
		text-align: left;
		color: #fff;
		font-size: 45px;
		z-index: 2;
		text-transform: uppercase;
		font-family: futura;
		font-weight: bold;
		margin-left: 5%;

		@media screen and (min-width: 768px){
			font-size: 50px;
		}

		@media screen and (min-width: 1024px){
			font-size: 64px;
		}

		@media screen and (min-width: 1224px){
			font-size: 74px;
		}
	}
}



// slider -----------------------------------------


.whats-new{
	margin-bottom: 40%;
	opacity: 0;
	transition: all 200ms ease-in;

	@media screen and (min-width: 768px){
		margin-bottom: 25%;
	}

	@media screen and (min-width: 1024px){
		margin-bottom: 20%;
	}

	h2{
		text-align: center;
		display: flex;
		justify-content: center;
		font-family: futura;
		color: #000;
		text-transform: uppercase;
		margin-top: 23%;
		font-size: 1.3em;

		@media screen and (min-width: 768px){
			font-size: 1.5em;
		}

		@media screen and (min-width: 1024px){
			font-size: 1.8em;
		}

		@media screen and (min-width: 1224px){
			font-size: 1.9em;
		}

		@media screen and (min-width: 1440px){
			font-size: 2em;
		}
	}


	.slider{
		margin: 42px auto;
		padding: 0 60px;
		
		img {
			width: 80%;
			display: inline-block;
			@media screen and (min-width: 768px){
				width: 90%;
			}
		}


		div{
			width: 100%;
			text-align: center;
		}	
		
	}

}

.js-whatsnew-animate{
	opacity: 1;
}



.slick-prev.slick-arrow{
	position: relative;
}

//next button
button.slick-next.slick-arrow{
	position: absolute;
	right: 30%;
	top: 110%;

	&::before{
		font-size: 30px;
		background-image: url(../img/rightSwipe.png);
		background-repeat: no-repeat;
		background-size: contain;
		color: transparent;
	}
}

//previous button
button.slick-prev.slick-arrow{
	position: absolute;
	top: 110%;
	left: 30%;

	&::before{
		font-size: 30px;
		background-image: url(../img/leftSwipe.png);
		background-repeat: no-repeat;
		background-size: contain;
		color: transparent;
	}
}

.slick-prev, .slick-next{
	height: 56px;
	transform: translate(0, 0);
}


// slider ends -----------------------------------------






.image-grid{
	position: relative;
	width: 100%;
	
	@media screen and (min-width: 768px){
		//triangle left
		&::before{
			content: ''; // you need this
			position: absolute;
			background-image: url('../img/triangleLeft.png');
			background-repeat: no-repeat;
			background-position: 100% auto;
			background-size: 100%;
			height: 120px;
			width: 127px; 
			top: -3%;
			left: 7%; // 143 / 1024
			z-index: 4;
		}

		//triangle right
		&::after{
			content: ''; // you need this
			position: absolute;
			background-image: url('../img/triangleRight.png');
			background-repeat: no-repeat;
			background-position: 100% 100%;
			background-size: 100%;
			height: 120px;
			right: 7%;
			bottom: -3%;
			width: 127px;
			z-index: 4;

		}

	}
	
}




.grid-images{
	margin: 0 auto;
	width: 100%; //320 grid width/ 320 browser width
	
	@media screen and (min-width: 768px){
		width: 83.203125%; // percentage(639/768); 
		margin: 0 auto;
	}
	
	h3{
		z-index: 2;
		font-family: futura;
		color: #fff;
		font-size: 1.1em;
		text-transform: uppercase;
		text-align: center;
		white-space: nowrap;
	}


	.a{ 
		cursor: pointer;
		width: 100%; 
		float: left; // you need this
		
		@media screen and (min-width: 768px){
			width: 50%;// a is 320 width / grids width 640
		}
		
		.onSale{
			background-image: url(../img/onSale.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			float: left; // you need this
			width: 50%; // 160 width / a width 320
			height: 0;
			padding-bottom: 100%; //trick makes rectangle
			position: relative;
			

			&:hover{

				h3{
					font-size: 1.5em;
					background-color: rgba(246, 150, 121, 0.8);					
					
				}
			}

			h3{
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				transition: 1s ease-in-out;
			}
		}

		.a2{
			float: left;
			width: 50%; // 160 width / 320 a 

			.backpacks{
				background-image: url(../img/backpacks.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				float: left; 
				width: 100%;
				height: 0;
				padding-bottom: 100%; //trick makes square
				position: relative;
				
				&:hover{

					h3{
						font-size: 1.5em;
						background-color: rgba(189, 209, 170, 0.8);
						
					}

				}

				h3{
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					transition: 1s ease-in-out;
				}

			}
			.overalls{
				float: left;  
				background-image: url(../img/overalls.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				width: 100%; 
				height: 0;
				padding-bottom: 100%; //makes square trick
				position: relative;
				
				&:hover{

					h3{
						background-color: rgba(135, 153, 156, 0.8);
						font-size: 1.5em;
					}
				}

				h3{
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					transition: 1s ease-in-out;
				}
			}
		}
	}	
	
	.b{
		cursor: pointer;
		float: left;
		width: 100%; 

		@media screen and (min-width: 768px){
			width: 50%; // 320 width / 640 grid container
		}

		.bestSellers{
			float: left;  
			background-image: url(../img/bestSellers.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 100%; // 160 / 160
			height: 0;
			padding-bottom: 50%; // half of grid img height
			position: relative;

			&:hover{

				h3{
					background-color: rgba(244, 214, 204, 0.8);
					font-size: 1.5em;
				}
			}

			h3{
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				transition: 1s ease-in-out;
			}
		}

		.summer18{
			float: left;  
			background-image: url(../img/summer18.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 100%; // 160 / 160
			height: 0;
			padding-bottom: 50%; // half of grid img height
			position: relative;

			&:hover{

				h3{
					background: rgba(245, 209, 112, 0.8);
					font-size: 1.5em;
				}
			}

			h3{
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				transition: 1s ease-in-out;
			}
		}
	}
}





.gram-section{
	position: relative;
	padding-bottom: 90%;

	@media screen and (min-width: 768px){
		padding-bottom: 20%;
	}

	@media screen and (min-width: 1024px){
		padding-bottom: 10%;
	}

	.at{
		position: relative;
		padding-bottom: 50%;
		margin-top: 15%;

		@media screen and (min-width: 768px){
			margin-top: 17%;
			padding-bottom: 12%;
			margin-left: 6%;
		}
		
		@media screen and (min-width: 1024px){
			margin-top: 20%;
			padding-bottom: 4%;
			margin-left: 16%;
		}	

		@media screen and (min-width: 1224px){
			margin-top: 4%;
			padding-bottom: 2%;
		}

		@media screen and (min-width: 1440px){
			margin-top: 10%;
			margin-left: 15%;
			padding-bottom: 10%;
		}

		h2{
			text-align: center;
			font-family: futura;
			color: #000;
			text-transform: uppercase;
			margin-top: 30%;
			left: 39vw;
			font-size: 1.3em;
			position: absolute;

			@media screen and (min-width: 768px){
				margin-top: 17%;
				left: 40vw;
				font-size: 1.5em;
			}

			@media screen and (min-width: 1024px){
				margin-top: 13%;
				left: 30vw;
				font-size: 1.8em;
			}

			@media screen and (min-width: 1224px){
				margin-top: 12%;
				left: 27vw;
				font-size: 1.9em;
			}

			@media screen and (min-width: 1440px){
				margin-top: 8%;
				left: 23vw;
				font-size: 2em;
			}
		}

		img{
			z-index: -2;
			position: absolute;
			margin-left: 10%;
		}

	}

	span{
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		@media screen and (min-width: 768px){
			flex-direction: row;
		}



		.social{
			margin: 30px auto;

			@media screen and (min-width: 768px){
				margin: 12% 6% 0 7%;
			}

			@media screen and (min-width: 1024px){
				margin: 19% 0 0 10%;
			}

			@media screen and (min-width: 1440px){
				margin: 6% 0 0 13%;
			}

			img{
				cursor: pointer;
				padding: 10% 1% 9% 3%;
				width: 29%;
				margin-left: 1%;

				@media screen and (max-width: 767px){
					position: absolute;
					width: 23%;

					&:first-child{
						bottom: 8%;
						left: 5%;
						
					}
					&:nth-child(2){
						bottom: 5%;
						right: 17%;
					}
					&:last-child{
						bottom: 0%;
						left: 19%;
					}
				}

				&:nth-child(2){
					@media screen and (min-width: 768px){
						margin-left: 41%;
					}
				}

				@media screen and (min-width: 768px){
					padding: 9% 1% 9% 4%;
					width: 50%;
				}

				@media screen and (min-width: 1024px){
					padding: 16% 1% 1% 9%;
				}

				@media screen and (min-width: 1224px){
					padding: 6% 1% 8% 18%;
				}

				@media screen and (min-width: 1440px){
					padding: 8% 0% 12% 5%;
					width: 45%;
				}

				&:first-child, &:last-child{
					&:hover{
						transform: rotate(45deg);
						transition: .4s ease;
					}
				}

				&:nth-child(2){
					&:hover{
						transform: rotate(-45deg);
						transition: .4s ease;
					}
				}
			}
		}

		.gram-images{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			@media screen and (min-width: 768px){
				margin: auto 8% 0 1%;
				justify-content: flex-end;
			}
	
			@media screen and (min-width: 1024px){
				margin: auto 10% 0 2%;
			}
	
	
			img{
				margin: 1%;
				border: 1px solid #79f6e9;
				width: 80%;
				align-self: center;
				cursor: pointer;
				transition: 1s ease;
	
				@media screen and (min-width: 768px){
					margin: 2%;
					width: 27%;
				}

				&:hover{
					transform: scale(1.2);
					

					@media screen and (min-width: 1224px){
						transform: scale(1.4);
						transition: 1s ease;
					}
				}
			}
		}
	
	}

	
}


footer{
	width: 100%;
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 100%;
	height: 90px; 

	.footer-text{
		margin-left: 12%;
		letter-spacing: 0.1em;

		a{
			padding-top: 36px;
			display: inline-block; // sit next to each other in a row
			padding-right: 9%;
			text-decoration: none;
			color: #000;
			font-family: futura;
			font-weight: bold;

			&:last-child{
				padding-right: 0%;
			}

			@media screen and (min-width: 1024px){
				padding-right: 5%;
				font-size: 1.2em;
				display: inline-block; // sit next to each other in a row
			}

			&:hover{
				color: #fff;
			}
		}
	}
}


