
@import 'reset';



* {
	box-sizing: border-box;
	// overflow-x: hidden;
}


header{
	height: 26vw;
	width: 100vw;

	@media screen and (min-width: 768px){
		height: 17vw;
	}

	@media screen and (min-width: 1024px){
		height: 10vw;
	}

	nav{
		cursor: pointer;

		div{
			// position: relative;

			img{
				position: absolute;
				top: 6%;
				left: 0;
				margin-left: 6%;
				max-width: 30px;
			}
		}

		// hide nav 
		.nav_list{
			
			display: none;

			padding-top: 38%;
			margin-left: 5%;
			transform: rotate(16deg);

			@media screen and (min-width: 768px){
				padding-top: 18%;
				margin-left: 19%;
				transform: rotate(10deg);
			}

			@media screen and (min-width: 1024px){
				padding-top: 14%;
				transform: rotate(8deg);
			}

			@media screen and (min-width: 1224px){
				padding-top: 12%;
				transform: rotate(6deg);
			}
			

			li{
				font-family: futura;
				color: #ff00ff;
				padding: 0 20px;

				@media screen and (min-width: 1024px){
					padding: 0 30px;
				}
				
			}
		}

		// show nav on click
		.nav_open &{

			.nav_list{
				display: flex;

				li{
					flex-direction: row;
					
				}
				
				
			}
		}
	}

	//logo
	div{
		display: flex;
		justify-content: flex-end;
		margin-right: 8%;

		img{
			max-width: 20%;
			@media screen and (min-width: 768px){
				padding-top: 2%;
			}
		}
	}
}


//mobile: 437 width of mockup screen / 580 height of top yellow bottom model

// desktop: 1180 width '' / 653 height ''


.models{
	position: relative;

	//mobile 
	@media screen and (max-width: 767px){
		width: 100vw;
		height: 95vw;
		margin: 0;
		background-size: 178% auto;
	}

	width: 100vw;
	height: 53vw;   
	background-image: url(../img/heroBkg.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 0 100%;
	text-align: center;

	//models
	img{
		position: relative;
		height: 100%;
		top: 8vw;
		padding: 0 3%;

		// hide 2 models on mobile
		&:nth-child(1), &:nth-child(4){
			@media screen and (max-width: 767px){
				display: none;
			}
		}
	}

	//spring must haves
	h1{
		position: absolute;
		top: 60%;
		text-shadow: 1px 1px 2px #000;
		text-align: left;
		color: #fff;
		font-size: 45px;
		z-index: 2;
		text-transform: uppercase;
		font-family: futura;
		font-weight: bold;
		margin-left: 5%;

		@media screen and (min-width: 768px){
			font-size: 50px;
		}

		@media screen and (min-width: 1024px){
			font-size: 64px;
		}

		@media screen and (min-width: 1224px){
			font-size: 74px;
		}
	}
}






.whats-new{
	height: 482px;
	margin-bottom: 20%;

	@media screen and (min-width: 768px){
		height: 400px;
		margin-bottom: 15%;
	}

	h2{
		text-align: center;
		display: flex;
		justify-content: center;
		font-family: futura;
		color: #000;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 23%;
		font-size: 1.3em;
	}

	// slider swipe buttons
	.buttons{
		position: relative;
		top: 76%;

		@media screen and (min-width: 768px){
			top: 104%;
		}

		@media screen and (min-width: 1380px){
			top: 50%;
		}

		a{
			padding: 0 21vw;

			@media screen and (min-width: 768px){
				padding: 0 30vw;
			}

			&:first-child{

				img{
					left: 24vw;
					position: absolute;

					@media screen and (min-width: 768px){
						left: 5vw;
					}
				}
			}

			&:nth-child(3){

				img{
					right: 0;
					position: absolute;
				}
			}
		}
	}

	.slider{
		display: flex;
		flex-direction: row;
		justify-content: center;
		overflow: hidden;
		z-index: -2;

		@media screen and (max-width: 767px){
			img:first-child, img:last-child{
				display: none;
			}
		}


		img{
			z-index: -2;
			padding: 0 3%;

			@media screen and (min-width: 1380px){
				padding: 0 1%;
			}
		}
	}

}



.image-grid{
	position: relative;
	padding-bottom: 40%;

	@media screen and (min-width: 448px){
		margin: 0 20%;
	}

	@media screen and (min-width: 768px){
		padding-bottom: 15%;
	}

	//triangle
	.left-yellow {
		position: relative;

		img{
			position: absolute;
			width: 10%;
			z-index: 3;
		}
	}

	//triangle
	.right-yellow {
		position: relative;

		img{
			position: absolute;
			width: 10%;
			right: 0;
			z-index: 3;
		}
	}

	.grid-images{
		display: flex;
		flex-wrap: wrap;
		// width: 100vh;

		div{
			position: relative;

			h3{
				position: absolute;
				z-index: 2;
				font-family: futura;
				color: #fff;
				font-size: 1.1em;
				text-transform: uppercase;
				text-align: center;
				top: 50%;
				left: 50%;
			    transform: translate(-50%, -50%);
				white-space: nowrap;
			}

			img{
				float: right;
				position: relative;

				&:first-child{
					width: 162px; 
					// height: 343px;
				}

				&:nth-child(2), &:nth-child(4){
					height: 158px;
					// width: 158px;
				}

				&:nth-child(3), &:nth-child(6){
					// width: 320px;
					height: 188px;
				}
			}
		}

		
	}
}



.gram-section{
	position: relative;
	padding-bottom: 30%;

	@media screen and (min-width: 768px){
		padding-bottom: 20%;
	}

	.at{
		position: relative;

		h2{
			text-align: center;
			display: flex;
			justify-content: center;
			font-family: futura;
			color: #000;
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 33%;
			left: 57%;
			font-size: 1.3em;
			position: absolute;
		}

		img{
			position: absolute;
			margin-left: 10%;
		}

	}


	.gram-images{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 60%;

		img{
			margin: 1%;
			border: 1px solid #ee1271;
		}
	}

}







